.topnav{
    font-size: 14px;
}
.twopage{
    background: url("../img/intro-bg.jpg") no-repeat center center;
    background-size: cover;
    color: #f8f8f8;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.intro-message {
    padding: 15% 0;
}
.intro-message h1 {
    font-size: 5em;
}
.intro-message hr{
    width: 400px;
}
